.container{

	margin-top: 84px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.titulo-calendario{
		margin-bottom: 30px;
		max-width: 1000px;
		padding-bottom: 20px;
		margin: 0 auto;
		text-align: center;
		font: $titulo-h1;
		letter-spacing: 3px;
		margin-bottom: 25px;
		border-bottom: solid 3px;
	}
	
	.presentacion{
		
		display: flex;	
		flex-wrap: no-wrap;
		justify-content: center;

		.calendario{
		
			padding: 0 20px;
			box-sizing: border-box;

			h3{
				text-align: center;
				width: 100%;
			}

			.mes{
				
				display: flex;
				margin-bottom: 10px;
				justify-content: space-between;


				select{
					font: $texto;
					box-sizing: border-box;
					background: $morado-ppal;
					text-align: center;
					padding: 0 10px;
					border: none;
					min-width: 120px;
					color: $pastel;
					margin: 0 auto;
				}
				
			}

			.div-dias{

				height: 290px;
				width: 400px;
				display: flex;
				margin: 0 auto;
				padding-top: 10px;
				flex-wrap: wrap;
				justify-content: space-around;

				.dia,
				.dia-evento,
				.dia-nombre,
				.dia-inactivo,
				.dia-actual{
			
					width: 40px;
					height: 40px;
					margin: 3px 10px;
					font: $texto;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					padding: 10px;
					box-sizing: border-box;

				}

				.dia:hover,
				.dia-evento:hover,
				.dia-actual:hover{
					cursor: pointer;
				}

				.dia-evento{
					background: $aguamarina;
					color: $morado-ppal;
				}

				.dia-actual{
					background: $morado-ppal;
					color: $pastel;
				}

				.dia{
					
					border: 1px solid $morado-ppal;
					background: $pastel;
					color: $morado-ppal;
				}

				.dia-inactivo{
					background: $pastel;
					color: $pastel;					
				}

				.dia-nombre{
					
					color: $morado-ppal;
					font: $texto-bold;
				}

				.dia-inicio{
					margin-left: 0;

				}

				.dia-final{
					margin-right: 0;
				}
			}

			.detalles, 
			.contador{
				font: $texto;
				padding: 10px 0 15px;
				display: flex;
				justify-content: space-around;

				div{
					display: flex;
					justify-content: center;
					flex-wrap: wrap;

					h3{
						width: 100%;
						text-align: center;
					}
				}
			}
			
		}

		.evento-aux{
			min-width: 500px;
			height: 380px;
			position: relative;
			display: none;
			font: $texto-medio;
			justify-content: center;
			align-items: center;
		}

		.imagen{

			max-width: 500px;
			position: relative;

			img{
				width: 80%;
				display: block;
				margin: 0 auto;
			}

			.resumen{
				
				padding: 20px 0 0;
				box-sizing: border-box;

				h3{
					width: 80%;
					text-align: center;
					margin: 0 auto 10px;	
				}

				p{
					text-align: justify;
					width: 80%;
					font: $texto;
					margin: auto;	
					padding: 10px 0 30px;
					max-height: 100px;
				}
			}
		}
	}
}