/*Responsive*/

@media only screen and (max-width: 900px) {
    .nav1 {
        display: none;
    }

    .nav2{
    	display: block;

    }

    .contacto,
    .miembros,
    .nosotros{
    	padding-left: 20px;
    	padding-right: 20px;
    }

    .mapa{
		width: 80%;
	}

	// Sirius

	.blog{
		padding: 20px;
	}
	

	//Calendario
	.main{
		.container{
			
			.titulo-calendario{
				
				width: 100%;
				
			}

			.presentacion{
				flex-wrap: wrap;

				.calendario{

					width: 100%;
					padding: 10px;

					.div-dias{
						margin: 0 auto;
						width: 300px;

						.dia,
						.dia-evento,
						.dia-nombre,
						.dia-inactivo{
							margin: 0 5px;
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
						}

					}
				}

				.imagen{

					margin: 20px 0 0;

					.detalles{
						padding: 0 10px;
					}
				}
			}

		
		}
	}
	
}

@media only screen and (max-width: 600px){

	.nav2{
		svg{
			margin-left: 10px;
		}
	}

	.suscripcion{
		& > div:first-child{
			width: 100%;
		}

		.formulario{
			width: 100%;
			padding: 10px 30px;

		}
	}

	.icons{
		a{
			padding: 0;
			margin: 0;
			span{
				margin: 0;
			}
		}
	}

	.formulario{

		padding: 10px 0;

	}

	
	footer{

		padding: 10px 0;

		.social{
			margin: 0;
			box-sizing: border-box;

			p{
				min-width: 100px;
				width: 200px;
			}

			a{				
				span{
					margin-right: 5px;
				}
			}
		}

		.developer{
			min-width: 100px;
			padding: 0;
		}
	}
}